body {
  color: #757575;
  font-family: "Roboto";
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.footer-social-links, .footer-contacts, .adrs, .logo-footer, .portfolio-link, .client-link, .socials-link, .contact, .nav-site-links, .logo, .mobile-socials-links, .contact__tel, .contact__mail, .mobile-links {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.footer-social, .footer-address, .portfolio, .button-list, .client-list, .socials, .team-list, .section-list, .feature-list, .authnav .list, .nav-site, .mobile-socials, .mobile-contact__list, .mobile-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobal-menu-container {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  overflow-x: scroll;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 15px;
  background-color: #ffffff;
}
@media screen and (max-width: 430px) {
  .mobal-menu-container {
    padding-left: 15px;
  }
}
.mobal-menu-container.is-open {
  display: block;
}

.menu-button {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button.is-open .menu-button__icon .icon-cross {
  opacity: 1;
  fill: #000000;
}
.menu-button.is-open .menu-button__icon .icon-cross:hover, .menu-button.is-open .menu-button__icon .icon-cross:focus {
  fill: #2196f3;
}
.menu-button.is-open .menu-button__icon .icon-menu {
  opacity: 0;
}

.menu-button__icon .icon-cross {
  opacity: 0;
}
.menu-button__icon .icon-menu {
  fill: #000000;
}
.menu-button__icon .icon-menu:hover, .menu-button__icon .icon-menu:focus {
  fill: #2196f3;
}

.mobile-list {
  margin-bottom: 302px;
}

.mobile-items {
  margin-bottom: 32px;
}
.mobile-items:last-child {
  margin-bottom: 0;
}

.mobile-links {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-links:hover, .mobile-links:focus {
  color: #2196f3;
}

.mobile-contact__list {
  margin-bottom: 64px;
}

.mobile-contact__item {
  margin-bottom: 32px;
}

.contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 355px) {
  .contact__tel {
    font-size: 25px;
  }
}

.mobile-socials {
  display: flex;
  margin-bottom: 48px;
}

.mobile-element {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(33, 33, 33, 0.2);
}

.mobile-socials-links {
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 430px) {
  .mobile-socials-links {
    font-size: 13px;
  }
}

.page-header {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-header {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .main-header {
    justify-content: space-between;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-accent {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.nav-site {
  margin-left: 88px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .nav-site {
    margin-left: 93px;
  }
}

.nav-items {
  display: inline-block;
  margin-right: 50px;
  text-align: center;
}
.nav-items:last-child {
  margin-right: 0;
}

.nav-site-links {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-site-links:hover, .nav-site-links:focus {
  color: #2196f3;
}

.current {
  position: relative;
  color: #2196f3;
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.authnav {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .authnav {
    display: none;
  }
}
.authnav .list {
  display: flex;
}
@media screen and (min-width: 768px) {
  .authnav .list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .authnav .list {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .authnav .item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .authnav .item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover, .contact:focus {
  color: #2196f3;
}
@media screen and (max-width: 1200px) {
  .contact {
    font-size: 12px;
    line-height: 1.16;
  }
}

.icon-contact {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-contact:hover, .icon-contact:focus {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .smartphone {
    width: 10px;
    height: 16px;
  }
}

.section-main {
  padding-top: 118px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/background-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 567px) {
  .section-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/background-tablet-x1.jpg);
  }
}
@media screen and (min-width: 950px) {
  .section-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/background-decstop-x1.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-main {
    max-width: 1600px;
    padding-top: 200px;
  }
}

.main-hidden {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .main-hidden {
    font-size: 44px;
    line-height: 1.4;
  }
}

.section-main-btn {
  display: inline-block;
  padding: 10px 32px;
  margin-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .section-main-btn {
    margin-bottom: 200px;
  }
}
.section-main-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.feature-section {
  padding-top: 60px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .feature-section {
    padding-top: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-section {
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-item {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .feature-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .feature-item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature-item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .feature-item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-item:last-child {
    margin-right: 0;
  }
}

.icon-special {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .icon-special {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-special {
    min-width: 270px;
  }
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .feature-title {
    text-align: center;
  }
}

.feature-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-decstop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-decstop {
    display: block;
  }
}

.section-list {
  display: flex;
  margin-bottom: 94px;
}
.section-list .item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  display: inline-block;
}
.section-list .item:nth-child(3n) {
  margin-right: 0;
}

.section-action {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.text-section-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-list .team-card {
  display: inline-block;
  text-align: center;
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list .team-card {
    min-width: 354px;
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .team-list .team-card {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list .team-card {
    min-width: 270px;
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list .team-card:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-list .team-card:nth-child(4n) {
    margin-right: 0;
  }
}

.team-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
}

.team-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-bottom: 30px;
  }
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover, .socials-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}

.socials-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 64px;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-item {
  display: inline-block;
  flex-basis: calc((100% - 60px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  .client-item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .client-item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .client-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    flex-basis: calc((100% - 180px) / 6);
    min-width: 170px;
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus, .client-link:hover .client-icon, .client-link:focus .client-icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.client-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button {
  margin-top: 94px;
  margin-bottom: 35px;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
  }
}
.button-list .item {
  margin-right: 8px;
  display: inline-block;
  margin-bottom: 15px;
}
.button-list .item:last-child {
  margin-right: 0;
}

.portfolio-btn {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  margin-bottom: 94px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }
}
.portfolio .item {
  margin-bottom: 30px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .portfolio .item {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .item {
    flex-basis: calc((100% - 90px) / 3);
    width: 370px;
  }
}
.portfolio .item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) and (max-width: 1200px) {
  .portfolio .item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .item:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: 20px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .card-overlay {
  transform: translateX(0);
}

.card-actions {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
}

.text-card-actions {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-title {
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .container-contact {
    display: flex;
    justify-content: space-between;
  }
}

.footer-contact {
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .footer-contact {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contact {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-right: 70px;
  }
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-address .item {
  margin-bottom: 9px;
}

.adrs {
  font-style: normal;
  font-size: 14px;
  line-height: 1, 7;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover, .footer-contacts:focus {
  color: #2196f3;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-socials {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-socials {
    margin-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-right: 93px;
  }
}

.footer-social {
  display: inline-flex;
}

.footer-social .item {
  margin-right: 10px;
}
.footer-social .item:last-child {
  margin-right: 0;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links:hover, .footer-social-links:focus {
  background-color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .js-speaker-form {
    text-align: center;
  }
}

.footer-social-icon {
  fill: #ffffff;
}

.footer-form {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer-form {
    flex-direction: column;
  }
}

.footer-input {
  padding: 15px 16px;
  color: #ffffff;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
}
@media screen and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}
.footer-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  position: relative;
  display: inline-block;
  padding: 10px 62px 10px 29px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}
@media screen and (min-width: 1200px) {
  .footer-button {
    margin-left: 10px;
  }
}
.footer-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-telegram {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 450px) {
  .modal {
    width: 320px;
    height: 574px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.icon-Vector {
  fill: #000000;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover, .modal-btn-close:focus {
  fill: #2196f3;
}

.modal-form {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .modal-form {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
}

.modal-title {
  display: inline-block;
  margin-bottom: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 450px) {
  .modal-title {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: start;
}

.modal-label {
  margin-bottom: 4px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  display: inline-block;
  padding: 11px 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border-color: #2196f3;
}
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-textarea {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus, .modal-textarea:hover {
  border-color: #2196f3;
}
.modal-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .form-checkbox {
    font-size: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .form-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-label {
  margin-right: 5px;
}

.checkbox-icon {
  margin-right: 7px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
}

.modal-button {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
}
.modal-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.policy-link {
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */